{% extends "layout.html" %} {% block content %}
<div class="container">
  <form method="POST">
    <div class="row">
      <div class="col-md-8 col-sm-12 form-group">
        <input
          name="title"
          placeholder="title"
          class="form-control"
          id="title"
        />
        <textarea
          class="form-control"
          id="content"
          name="content"
          rows="20"
        ></textarea>
        <button class="btn btn-primary" type="submit">
          Submit
        </button>
        <button class="btn btn-primary">
          Save
        </button>
      </div>
      <div class="col-md-4 col-sm-12 form-group">
        <input
          class="form-control"
          type="text"
          name="tags"
          placeholder="tags"
        />
        <div class="form-group">
          <label for="categories">Categories</label>
          <select class="form-control" id="category" name="category">
            <option value="1">frontend development</option>
            <option value="2">backend development</option>
            <option value="3">design UI/UX</option>
          </select>
        </div>
        <div class="form-group">
          <label for="related_topic">In topic:</label>
          <input
            type="text"
            class="form-control"
            id="related_topic"
            name="related_topic"
            placeholder="related topic"
          />
          <label for="invite">Invite people</label>
          <input
            type="text"
            class="form-control"
            id="invite"
            placeholder="invite anyone"
          />
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}
