{% extends "layout.html" %} {% block content %}
<div class="container my-5">
  <div class="row">
    <div class="col-md-8">
      <h1>{{ post.title }}</h1>
      <span>{{ moment(post.created_at).format("LLL") }}</span>
      <div>
        {{ post.content }}
      </div>
      <span>Written by {{ author.username }}</span>

      <form class="form-group" method="POST">
        <textarea class="form-control" id="comment" rows="3" name="comment">
your comment...</textarea
        >
        <button class="btn btn-success" type="submit">submit</button>
      </form>

      {% for comment in comments %}
      <div class="comment">
        <h5>{{ comment.owner.username }}</h5>
        <p>
          {{ comment.content }}
        </p>
        <span>{{ moment(comment.created_at).format("LLL") }}</span>
      </div>
      {% endfor %}
    </div>

    <div class="col-md-4">
      {% if post.topic %}
      <p>
        <a href="{{ url_for('topic', id= post.topic.id ) }}">
          Topic: {{ post.topic.title }}</a
        >
      </p>
      {% endif %}

      <p>category: {{ category.name }}</p>
    </div>
  </div>

  {% if post.topic %}
  <div class="d-flex flex-wrap">
    <h4>Post that you might interted in</h4>
  </div>
  {% endif %}
</div>

{% endblock %}
