{% extends "layout.html" %} {% block content %}
<div class="container my-5">
  <div class="row">
    <div class="col-md-8">
      <h1>{{ post.title }}</h1>
      <span>{{ moment(post.created_at).format("LLL") }}</span>
      <div>
        {{ post.content }}
      </div>
      <span>Written by {{ author.username }}</span>

      {% if current_user.is_authenticated %}
      <form class="form-group" method="POST">
        <textarea class="form-control" id="comment" rows="3" name="comment">
your comment...</textarea
        >
        <button class="btn btn-success" type="submit">submit</button>
      </form>
      {% else %}
      <div class="alert alert-primary" role="alert">
          Please login to comment
        </div>
      {% endif %}

      {% for comment in comments %}
      <div class="comment">
        <h5>{{ comment.owner.username }}</h5>
        <p>
          {{ comment.content }}
        </p>
        <span>{{ moment(comment.created_at).format("LLL") }}</span>
      </div>
      {% endfor %}
    </div>

    <div class="col-md-4">
      {% if post.topic %}
      <p>
        <a href="{{ url_for('topic', topic_id = post.topic.id )}}">
          Topic: {{ post.topic.title }}</a
        >
      </p>
      {% endif %}

      <p>category: {{ category.name }}</p>
    </div>
  </div>

  {% if post.topic %}
  <h4>Post that you might interted in</h4>
  <div class="d-flex flex-wrap">
    {% for post in posts_in_topic %}
    <div class="border border-primary">
      <h3>{{ post.title }}</h3>
      <p>
        {{ post.content[0:100] }}...<a
          href="{{ url_for('post', post_id = post.id )}}"
          >Readmore</a
        >
      </p>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>

{% endblock %}
